.drag-box {
    width: 40%;
    height: 80%;
    border: 10px solid darkorange;
    box-shadow:10px 10px 5px #888888;
    border-radius:25px;
    padding: 10px;
    margin: 10px;
    position:absolute;
    top:10%;
    left:5%;
}

input[type=text], input[type=password], select {
    width: 80%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.allforms {
    background-color: #f2f2f2;
}
.minibox {
    width: 80%;
    border: 3px solid darkgrey;
    box-shadow:2px 2px 1px #888888;
    border-radius:10px;
    padding: 2px;
    margin: 5px;
}
